version: "1"
projects:
- name: triskell_outlook_addin (sans SSO)
  environments:
  - name: Production
    services:
    - type: web
      name: triskell_outlook_addin_frontend (sans SSO)
      runtime: static
      repo: https://github.com/vcailleaud/triskell_outlook_add_into_timesheet
      staticPublishPath: frontend
      autoDeployTrigger: commit

    - type: web
      name: triskell_outlook_addin_backend (sans SSO)
      runtime: node
      repo: https://github.com/vcailleaud/triskell_outlook_add_into_timesheet
      plan: free
      envVars:
      - key: TENANT_ID
        sync: false
      - key: CLIENT_ID
        sync: false
      - key: CLIENT_SECRET
        sync: false
      - key: REDIRECT_URI
        sync: false
      - key: APP_JWT_SECRET
        sync: false
      region: frankfurt
      buildCommand: |
        cd backend
        npm install
      startCommand: |
        cd backend
        node server.js
      autoDeployTrigger: commit
